
@import url('https://fonts.googleapis.com/css2?family=Anuphan&display=swap');
* {
  overflow: hidden;
  cursor: auto;
  user-select: none;
}
#game {
  position: relative;
  float: left;
  text-align: center;
}
#click-img {
  cursor: pointer;
  width: 20rem;
  height: 20rem;
}
@keyframes click {
  0% {
    transform: scale(1.0);
  }

  50% {
    transform: scale(1.1);
  }
  
  100% {
    transform: scale(1.0);
  }
}
#click {
  display: flex;
  justify-content: center;
}
#maxwell-hat {
  display: none;
  padding-top: 37px;
  width: 100px;
  position: absolute;
  z-index: -1;
}
#maxwell-hat-active {
  padding-top: 2rem;
  width: 100px;
  position: absolute;
  z-index: 1;
}
#click-text {
  font-size: 50px;
}
#per-sec {
  font-size: 54px;
}
#ppc {
  font-size: 35px;
}
h1, h2, h3, h4, h5, h6, p, span, button, small {
  font-family: 'Anuphan', sans-serif;
}
#cursor-img {
  width: 16px;
  height: auto;
}
#crowd-img {
  width: 21px;
  height: auto;
}
#alert-img {
  width: 21px;
  height: auto;
}
#maxwell-img {
  width: 21px;
  height: auto;
}
#jpork-img {
  width: 21px;
  height: auto;
}
#bus-img {
  width: 21px;
  height: auto;
}
#hotel-img {
  width: 21px;
  height: auto;
}
#upgrades {
  height: 32.5%;
  float: right;
  overflow-y: auto;
  width: 14rem;
}
#divider {
  height: 2rem;
}
#click-upgrade {
  cursor: pointer;
}
#save {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
  width: 75px;
  height: auto;
  cursor: pointer;
}
#load {
  position: absolute;
  bottom: 0;
  left: 75px;
  z-index: 2;
  width: 75px;
  height: auto;
  cursor: pointer;
}
